 <nav class="main-nav center">
    <h2>Register here for launch updates...</h2>
    <ul>
    </br>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/7103ea9b10c1/bookin-mess-staff-mailing-list"><%= image_tag("chef2.svg", height: 100, width: 100) %>
      <br>Mess Staff</li></br></a>
    </div>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/5fb4efa03944/yjtodtn3zn"><%= image_tag("guardsman2.svg", height: 100, width: 100) %>
        <br>Mess Members</li></a>
    </div>

    </ul>
  </nav>
  <article class="content center">
    <h2>Welcome! Here's what we're building</h2>
    <p><a href="www.bookin.today">bookin.today</a> are launching a very simple service to allow you to book in to meals. In the future we aim to bring your mess online with tools to remove the friction out of Mess life. It is being created by an ex Army Officer and will be free for users for life. Here's the idea...</p>

      </br>
        <div class="image-box">
          <li>
        <%= image_tag("tap2.svg", height: 85) %>
        <br> Book in online</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("clock.svg", height: 85) %>
          <br> Save time</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("piggybank.svg", height: 85) %>
          <br> Save money</li></br>
        </div>


    <article class="content center">
      <h2>Benefits to Mess Staff</h2>
        <p>As well as the obvious ease of signing in on your phone. The move to bookin will give Mess Managers...</p>

          </br>
            <div class="image-box">
              <li>
              <%= image_tag("tick.svg", height: 85) %>
              <br>More accurate planning</li></br>
            </div>


            <div class="image-box">
              <li>
              <%= image_tag("reviews.svg", height: 85) %>
              <br>Feedback on meals</li></br>
            </div>

            <div class="image-box">
              <li>
              <%= image_tag("graph.svg", height: 85) %>
              <br>Analytics to plan better</li></br>
            </div>

  </article>
