 <nav class="main-nav center">
    <h3>Register here for launch updates...</h3>
    <ul>
    </br>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/7103ea9b10c1/bookin-mess-staff-mailing-list"><%= image_tag("chef3.svg", height: 100, width: 100) %>
      <br>Mess Staff</li></br></a>
    </div>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/5fb4efa03944/yjtodtn3zn"><%= image_tag("soldier3.png", height: 100, width: 100) %>
        <br>Mess Members</li></a>
    </div>

    </ul>
  </nav>
  <article class="content center">
    <h2>Welcome! Here's what we're building</h2>
    <p style="max-width: 500px; text-align: center;"><a href="www.bookin.today">bookin.today</a> is working on a very simple service to allow you to book your meals. In the future we aim to bring your Mess online, with tools to remove the friction from everyday life in the Services. It's being created by an ex Army Officer and will be free for users for life. Here's the idea...</p>

      </br>
        <div class="image-box">
          <li>
        <%= image_tag("tap4.png", height: 85) %>
        <br> Book in online</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("clock.svg", height: 85) %>
          <br> Save time</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("pound.svg", height: 85) %>
          <br> Save money</li></br>
        </div>


    <article class="content center">
      <h2>Benefits to Mess Staff</h2>
        <p style="max-width: 500px; text-align: center;">As well as the obvious benefits to Mess members, the move to <span class="blue">bookin</span> will give Mess Managers...</p>

          </br>
            <div class="image-box">
              <li>
              <%= image_tag("tick.svg", height: 85) %>
              <br>More accurate planning</li></br>
            </div>


            <div class="image-box">
              <li>
              <%= image_tag("reviews.svg", height: 85) %>
              <br>Feedback on meals</li></br>
            </div>

            <div class="image-box">
              <li>
              <%= image_tag("graph.svg", height: 85) %>
              <br>Analytics for insight</li></br>
            </div>

  </article>
