<div class="wrapper">
  <header class="main-head">
    <div class="header-img"><%= image_tag("logo.jpg", height: 45) %></div>
  </header>
  <nav class="main-nav center">
    <h2>Register here for launch updates</h2>
    <ul>
    </br>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/7103ea9b10c1/bookin-mess-staff-mailing-list"><%= image_tag("chef2.svg", height: 100, width: 100) %>
      <br>Mess Staff</li></br></a>
    </div>
    <div class="image-box center">
      <li><a href="https://mailchi.mp/5fb4efa03944/yjtodtn3zn"><%= image_tag("guardsman2.svg", height: 100, width: 100) %>
        <br>Mess Members</li></a>
    </div>

    </ul>
  </nav>
  <article class="content center">
    <h1>Under Construction</h1>
    <p><a href="www.bookin.today">bookin.today</a> are launching a very simple service to allow you to book in to meals. In the future we aim to bring your mess online and create tools to remove the friction out of Mess life. It is being created by an ex Army Officer and will be free for users for life. Here's the idea...</p>
    <ul>
      </br>
        <div class="image-box">
          <li>
        <%= image_tag("tap2.svg", height: 80) %>
        <br> Book in online</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("clock.svg", height: 80) %>
          <br> Save time</li></br>
        </div>


        <div class="image-box">
          <li>
          <%= image_tag("piggybank.svg", height: 80) %>
          <br> Save money</li></br>
        </div>

      </ul>

  </article>
  <!--<aside class="side center">Sidebar</aside>
  <div class="ad center">Advertising</div> -->
  <footer class="main-footer center">The footer</footer>
</div>