<!DOCTYPE html>
<html>
  <head>
    <!-- not sure -->
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    <!-- device width for views -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- partial for google analytics -->
    <%= render :partial => 'layouts/google_analytics' %>
    <title>Bookin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="main-head">
        <div class="header-img"><a href=" "><%= image_tag("logo.jpg", height: 45) %></a></div>
        <div class="dropdown" style="float:right;">
          <div class="dropbtn">
            <%= image_tag("dropdown.png", height: 45) %>
          </div>
              <div class="dropdown-content">
                <a href="#">Sign in</a>
                <a href="#">Register</a>
                <a href="#">My profile</a>
                <a href="#">About</a>
                <a href="#">Logout</a>
              </div>
        </div>
      </header>



    <footer class="main-footer center"><%=link_to "About", "/index" %><br></footer>
    <%= yield %>
    </div>







  </body>
</html>
